@import "variables";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Inter;
  src: url("./public/fonts/Inter/Inter_Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("./public/fonts/Inter/Inter_Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url("./public/fonts/Inter/Inter_SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url("./public/fonts/Inter/Inter_Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("./public/fonts/Inter/Inter_ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Gilroy;
  src: url("./public/fonts/Gilroy/Gilroy_Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Gilroy;
  src: url("./public/fonts/Gilroy/Gilroy_SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: GTWalsheimPro;
  src: url("./public/fonts/GTWalsheimPro_Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Montserrat;
  src: url("./public/fonts/Montserrat_Medium.ttf");
  font-weight: 500;
}


body {
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: $text-color;
  background: #fff;
}


.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 900;

  .lds-ripple,
  .lds-ripple div {
    box-sizing: border-box;
  }

  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    color: $second-bright-color;

    div {
      position: absolute;
      border: 4px solid currentColor;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;

      &:nth-child(2) {
        animation-delay: -0.5s;
      }

      @keyframes lds-ripple {
        0% {
          top: 36px;
          left: 36px;
          width: 8px;
          height: 8px;
          opacity: 0;
        }
        4.9% {
          top: 36px;
          left: 36px;
          width: 8px;
          height: 8px;
          opacity: 0;
        }
        5% {
          top: 36px;
          left: 36px;
          width: 8px;
          height: 8px;
          opacity: 1;
        }
        100% {
          top: 0;
          left: 0;
          width: 80px;
          height: 80px;
          opacity: 0;
        }
      }
    }
  }
}

.blur {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(48, 9, 97, 0.3);
  backdrop-filter: blur(7.5px);
  z-index: 100;
  transition: all 0.3s;

  &.blurring {
    visibility: visible;
    opacity: 1;
  }
}

.btn {
  background: $gradient-main;
  padding: 20px 30px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
  font-family: GTWalsheimPro, sans-serif;
  font-weight: 500;
  color: $btn-color;
  cursor: pointer;
  position: relative;
  line-height: 1;
  z-index: 1;
  transition: all 0.3s ease;
  text-wrap: none;

  &:after {
    border-radius: 20px;
    opacity: 1;
    transition: all 0.3s ease;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: $gradient-main;
    filter: blur(8px);
    z-index: -1;
  }

  &:disabled {
    color: rgba(36, 36, 36, 0.5);

    &:after {
      opacity: 0;
    }
  }

  &:hover {
    &:after {
      filter: blur(19.5px);
    }
  }

  &.btn_transparent {
    background: transparent;
    color: $text-color;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 16px 22px;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 1.15;

    &:after {
      opacity: 0;
    }

    &:hover, &:active {
      color: $btn-bright-color;
      border: 1px solid $btn-bright-color;
    }
  }

  &_modal {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    color: #242424;
    padding: 15px 30px;
    border-radius: 10px;

    &:after {
      border-radius: 10px;
    }
  }
}

.burger-container {
  width: 40px;
  height: 36px;
  position: absolute;
  right: 15px;
  top: 20px;

  .burger {
    width: 40px;
    height: 0;
    background-color: transparent;
    display: none;
    position: relative;
    top: 11.5px;
    z-index: 20;
    transition: all .5s;

    &:before, &:after {
      content: '';
      width: 40px;
      height: 3px;
      background-color: $burger-color;
      position: absolute;
      top: 0;
      transition: all .5s;
      border-radius: 1.5px;
    }

    &:after {
      top: 13px;
    }
  }
}

.title {
  color: $text-color;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.3;
  text-align: center;
}

.modal {
  width: 670px;
  position: fixed;
  top: 20%;
  left: calc(50% - 335px);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background: radial-gradient(42.84% 203.07% at 15.58% -40.39%, #323E51 0%, #1D2532 100%);;
  border-radius: 30px;
  padding: 56px 128px 90px 71px;
  z-index: 200;
  transition: all 0.3s;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  overflow: hidden;

  &.visible {
    visibility: visible;
    opacity: 1;
    pointer-events: visible;
  }

  &__circle {
    position: absolute;
    width: 425px;
    height: 386px;
    right: -125px;
    bottom: 95px;
    background: linear-gradient(170.98deg, rgba(195, 243, 58, 0.25) 25.59%, rgba(41, 209, 89, 0.25) 100.44%);
    filter: blur(86px);
    transform: rotate(11.97deg);
    z-index: -1;
  }

  &__close-container {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 40px;
    top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;

    &.rotate {
      transform: rotate(90deg);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: $text-color;
    margin-bottom: 25px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: $text-color;
    margin-bottom: 35px;
    max-width: 95%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__input {
    width: 100%;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 20px;
    color: #242424;
    box-sizing: border-box;
    border: 2px solid transparent;
    outline: none;
    background-color: #fff;
    border-radius: 10px;

    &::placeholder {
      color: #757575;
    }
  }
}

/*---MAIN-----------------------------------------------------------------------------------------------------------*/
/*---Header-----------------------------------------------------------------------------------------------------------*/

.header {
  padding: 30px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    flex-grow: 1;
    transition: all 0.5s;
    z-index: 500;
  }
}

.menu {
  &.menu_open {
    top: 0;
    display: flex;
    padding: 0 20px;
    opacity: 1;
    transition: all .5s;

    & + .burger-container .burger {
      background-color: transparent;
      position: fixed;
      right: 15px;
      z-index: 200;
    }

    & + .burger-container .burger::before {
      transform: translate(0, 20px) rotate(-45deg);
      width: 30px;
      height: 5px;
      border-radius: 2.5px;
    }

    & + .burger-container .burger::after {
      transform: translate(0, 6.5px) rotate(45deg);
      width: 30px;
      height: 5px;
      border-radius: 2.5px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 105px;
  }

  & button:last-child {
    margin-left: 45px;
  }

  &__link {
    text-decoration: none;
    color: $second-color;
    font-size: 23px;
    transition: all .3s;
    font-family: Inter, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 1;

    &:hover {
      text-shadow: 0 0 10px $second-bright-color;
    }
  }
}

/*---Main-------------------------------------------------------------------------------------------------------------*/

.main {
  background: #1D2532;
  position: relative;

  &__container {
    padding: 188px 15px 270px;
    position: relative;
  }

  &__bg-circle1 {
    position: absolute;
    top: -267px;
    left: -268px;
    width: 415px;
    height: 415px;
    background: $gradient-bg-circle1;
    filter: blur(86px);
    transform: rotate(11.97deg);
  }

  &__bg-circle2 {
    position: absolute;
    width: 475px;
    height: 475px;
    left: 740px;
    top: 220px;
    background: $gradient-bg-circle2;
    filter: blur(86px);
    transform: rotate(11.86deg);
  }

  &__info {
    z-index: 20;
  }

  &__title {
    max-width: 740px;
    font-size: 72px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: $text-color;
    line-height: 1.05;

    & span {
      font-weight: 700;
    }
  }

  &__subtitle {
    font-size: 23px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: $second-color;
    line-height: 1.2;
    margin-top: 30px;
    max-width: 500px;
  }

  &__btn {
    margin-top: 77px;
  }

  &__circle {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background: radial-gradient(95.38% 95.38% at 50.77% 4.62%, #DDF92C 0%, #8FEC36 44.51%, #00D448 100%);
    filter: blur(2px);
    transform: rotate(-25.73deg);
    position: absolute;
    top: 135px;
    left: 476px;
  }

  &__img {
    position: absolute;
  }

  #main-img {
    display: none;
  }

  #main-img1 {
    top: 90px;
    right: 344px;
    z-index: 1;
  }

  #main-img2 {
    top: 90px;
    right: -45px;
    z-index: 10;

  }

  #main-img3 {
    top: 30px;
    right: -293px;
    z-index: 5;
  }
}

/*---Advantages-------------------------------------------------------------------------------------------------------------*/

.advantages {

  &__container {
    background-color: #fff;
    padding: 195px 0 200px;
    position: relative;
  }

  &__inner-container {
    background: linear-gradient(212.69deg, #323E51 4.9%, #1D2532 55.16%);
    border-radius: 20px;
    padding: 130px 15px 150px;
    position: relative;
  }

  &__bg-circle1, &__bg-circle2 {
    position: absolute;
    width: 440.01px;
    height: 440.01px;
    right: 0;
    top: -45px;
    background: linear-gradient(170.98deg, rgba(95, 56, 255, 0.25) 25.59%, rgba(255, 14, 222, 0.25) 100.44%);
    filter: blur(86px);
    transform: rotate(11.97deg);
  }

  &__bg-circle2 {
    left: 15px;
    top: unset;
    bottom: 30px;
  }

  &__images {
  }

  &__circle {
    &_violet {
      position: absolute;
      width: 152px;
      height: 152px;
      right: 120px;
      top: 105px;
      background: radial-gradient(95.38% 95.38% at 50.77% 4.62%, #DEA8FF 0%, #9D6AD9 44.51%, #7A2BF6 100%);
      transform: rotate(-25.73deg);
      border-radius: 50%;
      z-index: 10;
    }

    &_blue {
      position: absolute;
      width: 84px;
      height: 84px;
      left: 169px;
      top: 110px;
      background: radial-gradient(63.25% 73.53% at 65.32% 77.65%, #045DFA 0%, #0FC1D7 83.16%, #06F6C7 100%);
      transform: rotate(7.77deg);
      border-radius: 50%;
    }

    &_blurred {
      position: absolute;
      width: 132px;
      height: 132px;
      right: 165px;
      bottom: 129px;
      border-radius: 50%;
      background: radial-gradient(95.38% 95.38% at 50.77% 4.62%, #DEA8FF 0%, #9D6AD9 44.51%, #7A2BF6 100%);
      filter: blur(12px);
      transform: rotate(-25.73deg);

    }
  }

  &__title {
    margin-bottom: 65px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 70px 50px;
    justify-content: center;
    width: 650px;
    box-sizing: border-box;
  }
}

.advantages-item {
  background: rgba(51, 62, 81, 1);
  border-radius: 20px;
  text-align: center;
  padding: 45px 16px;
  flex: 0 1 300px;
  min-height: 310px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;

  &:after {
    position: absolute;
    content: '';
    width: calc(100% - 40px);
    height: 268px;
    bottom: -20px;
    left: 20px;
    background: rgba(51, 62, 81, 0.6);
    border-radius: 20px;
    z-index: -2;
  }

  &__image {
    margin-bottom: 23px;
    position: relative;

    &:after {
      content: url("./public/images/smile_stars.png");
      position: absolute;
      left: calc(50% - 58.5px);
      top: 0;
      filter: blur(8px);
      z-index: -1;
    }
  }


  #smile-dollars:after {
    content: url("./public/images/smile_dollars.png");
  }

  #smile-tongue:after {
    content: url("./public/images/smile_tongue.png");
  }

  #smile-glasses:after {
    content: url("./public/images/smile_glasses.png");
  }

  &__text {
    font-family: Inter, sans-serif;
    color: $text-color;
    font-size: 19px;
    line-height: 25px;
  }
}

@import "adaptive";


