$text-color: #fff;
$second-color: #CECECE;
$burger-color: #FBF7FE;
$bright-color:  #1DD844;
$second-bright-color:  #CBF62E;

$bg-mobile-menu: rgba(41, 51, 68, 1);

$btn-color: #242424;
$btn-bright-color: #C3F33B;

$gradient-main: linear-gradient(92.84deg, $bright-color 1.44%, $second-bright-color 126.29%);
$gradient-bg-circle1: linear-gradient(170.98deg, rgba(95, 56, 255, 0.35) 25.59%, rgba(255, 14, 222, 0.35) 100.44%);
$gradient-bg-circle2: linear-gradient(170.98deg, rgba(95, 56, 255, 0.55) 25.59%, rgba(255, 14, 222, 0.55) 100.44%);
$gradient-bg-circle: linear-gradient(170.98deg, rgba(95, 56, 255, 0.25) 25.59%, rgba(255, 14, 222, 0.25) 100.44%);
